@model IEnumerable<CustomerDataManagementSystem_MVC_V2.Models.客戶資料>
@using CustomerDataManagementSystem_MVC_V2.Models


@{
    ViewBag.Title = "Index";
    var temp = new 客戶資料();

}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create", null, new{@class="btn btn-primary" })
    @using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
    {
        
        @Html.TextBox("keyword", null, new { type = "search", placeholder = "Keyword", @class="form-control" })
        <p style="white-space:nowrap">
            @(Html.Editor("Type", "客戶分類"))<input type="submit" value="Sort" class="btn btn-default btn-success" />
        </p>
    }

</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>

            
            <th style="white-space:nowrap">
                <a href="@Url.Action("Index", "客戶資料", new { sortBy = @Html.NameFor(model=> model.FirstOrDefault().客戶名稱), ascent = true, keyword = ViewBag.keyword, selectedId = ViewBag.selectedId })" class="glyphicon glyphicon-chevron-up" style="color:black"></a>
                @Html.DisplayNameFor(model => model.客戶名稱)
                <a href="?sortBy=@Html.NameFor(model=>model.FirstOrDefault().客戶名稱)&ascent=false" class="OrderBy glyphicon glyphicon-chevron-down" style="color:black"></a>
            </th>
            <th style="white-space:nowrap">
                <a href="@Url.Action("Index", "客戶資料", new { sortBy = @Html.NameFor(model=>model.FirstOrDefault().統一編號), ascent = true })" class="glyphicon glyphicon-chevron-up" style="color:black"></a>
                @Html.DisplayNameFor(model => model.統一編號)
                <a href="@Url.Action("Index", "客戶資料", new { sortBy = @Html.NameFor(model=>model.FirstOrDefault().統一編號), ascent = false })" class="glyphicon glyphicon-chevron-down" style="color:black"></a>
            </th>
            <th>
                <a href="@Url.Action("Index", "客戶資料", new { sortBy = @Html.NameFor(model => model.FirstOrDefault().電話), ascent = true })" class="glyphicon glyphicon-chevron-up" style="color:black"></a>
                @Html.DisplayNameFor(model => model.電話)
                <a href="@Url.Action("Index", "客戶資料", new { sortBy = @Html.NameFor(model => model.FirstOrDefault().電話), ascent = false })" class="glyphicon glyphicon-chevron-down" style="color:black"></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.傳真)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>@Html.DisplayNameFor(model => model.客戶分類)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶分類)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Download Excel", "客戶資料Excel", "File", new{@class = "btn btn-primary" })

<script type="text/javascript">
    document.querySelector(".OrderBy").onclick = function () {
        //var items = document.querySelector(".OrderBy");
        //var newQueryString = items.getAttribute("href");
        //var e = document.getElementById("Type");
        //var selectedValue = e.options[e.selectedIndex].value;
        //var keyword = document.getElementById("keyword").value;
        //newQueryString = newQueryString + "&Type=" + selectedValue+"&keyword="+keyword;

        //items.setAttribute("href", newQueryString);

        var items = $("a.OrderBy");
        var newQueryString = items.attr("href");

        var selectedValue = $("#Type").val();
        var keyword = $("#keyword").val();
        newQueryString = newQueryString + "&Type=" + selectedValue + "&keyword=" + keyword;
        items.attr("href", newQueryString);

    }
</script>



