@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken();
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Home", routeValues: null, htmlAttributes: new { title = "CurrentUser" })
                @*@Html.Display("Hello," + User.Identity.GetUserName())*@
                @*Hello, @User.Identity.GetUserName()*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            <li>
                @Html.ActionLink("My Data", "修改客戶資料", "客戶資料")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginlink" })
        </li>
    </ul>

}