@model IEnumerable<CustomerDataManagementSystem_MVC_V2.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.Partial("SearchByKeyword")  
    @using (Html.BeginForm())
    {
        @Html.DropDownList("selectedId", (IEnumerable<SelectListItem>)ViewBag.jobTitles) <input type="submit" value="filter" class="btn btn-xs" />
    }
</p>
<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="JobTitle" , ascent=true })" style="color:black">&Delta;</a>
            @Html.DisplayNameFor(model => model.職稱)
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="JobTitle" , ascent=false })" style="color:black">&nabla;</a>
        </th>
        <th>
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="Name" , ascent=true })" style="color:black">&Delta;</a>
            @Html.DisplayNameFor(model => model.姓名)
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="Name" , ascent=false })" style="color:black">&nabla;</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="CustomerName" , ascent=true })" style="color:black">&Delta;</a>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            <a href="@Url.Action("Index","客戶聯絡人",new { sortBy="CustomerName" , ascent=false })" style="color:black">&nabla;</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
